.work-content{
  width: 80%;
  margin: auto;
}
.work-container{
    background-color: transparent;
    z-index: 100;
    color: #fff;
    margin: 0 auto;
    height: 100%;
  }

.work-title0{
  font-size: 25px;
  padding-top: 100px;
  margin-bottom: 20px;
}

.work-title-content{
  font-size: 20px;
  line-height: 50px;
  max-width: 650px;
  margin: 0 0 0 auto;
  margin-top: 20px;
  margin-bottom: 600px;
}

@media screen and (max-width: 959px) {
  .work-title0{
    font-size: 18px;
  }

  .work-title-content{
    font-size: 16px;
    margin-bottom: 300px;
  }

}

